<div id="container">

	<div id="slider04">
	&nbsp;
	</div><!-- End slider -->

	<div id="pagebase">
	
	<div id="content">
	<table border=0 cellpadding=0 cellspacing=0 width="900" align="center">
	<tr>
	<td valign="top" align="left">
	<h1>Conditions We Treat</h1>
	<br><br>
Virtual Medical Group is dedicated to providing excellent health care for the 30 conditions below, as well as any unlisted patient complaint that can be adequately addressed through our services.
<br><br>
<center>
<table id="cond">
 <tr>
  <td width="33%">Healthy Male</td>
  <td width="33%">General Allergies</td>
  <td width="33%">Smoking Cessation</td>
 </tr>
 <tr>
  <td>Premature Ejaculation</td>
  <td>Sinusitis</td>
  <td>Influenza</td>
 </tr>
 <tr>
  <td>Men's Hair Loss</td>
  <td>Eye Allergies</td>
  <td>Traveler's Diarrhea</td>
 </tr>
 <tr>
  <td>Erectile Dysfunction</td>
  <td>Rosacea</td>
  <td>Motion Sickness</td>
 </tr>
 <tr>
  <td>Men's Weight Loss</td>
  <td>Cold Sores</td>
  <td>GERD</td>
 </tr>
 <tr>
  <td>Healthy Female</td>
  <td>Wrinkle Reduction</td>
  <td>Irritable Bowel</td>
 </tr>
 <tr>
  <td>Birth Control</td>
  <td>Urinary Tract Infection</td>
  <td>Menopause</td>
 </tr>
 <tr>
  <td>Wrinkle Reduction</td>
  <td>Eye Allergies</td>
  <td>Unwanted Facial Hair</td>
 </tr>
 <tr>
  <td>Women's Weight Loss</td>
  <td>Menstrual Cramps</td>
  <td>PMDD</td>
 </tr>
 <tr>
  <td>Yeast Infection</td>
  <td>Mental Health Referrals</td>
  <td>&nbsp;</td>
 </tr>
</table></center>
<br>
We believe medication can be an important part of mental health treatment when combined with counseling. VMG is the referral source from a network of 250 mental health counselors from Medical Web counseling. The counselor and physician communicate easily in order to maximize the positive outcomes for the patient.
	<br><br>
	</td>
	</tr>
	</table>
	</div><!-- End content -->

 </div><!-- End pagebase -->

	</div><!-- End container -->
