<div id="container">

  <div id="slider07">
	&nbsp;
	</div><!-- End slider -->

	<div id="pagebase">
	
	<div id="content">
	<table border=0 cellpadding=0 cellspacing=0 width="900" align="center">
	<tr>
	<td valign="top" align="left">
	<h1>Privacy Policy</h1>
	<br><br>
	Virtual Medical Group understands the importance of patient confidentiality and is committed to the protection of your personal information.
	<br><br>
	All personal and medical information is protected and secured. We have invested heavily in a closed loop communication process between you and your doctor. Only licensed clinical staff has access to your data during your encounter and only over a secure encrypted connection.
	<br><br>
	All information given via the physician consult form or in a conversation with any of our employees is held in complete confidence. Our employees adhere to the strict standards for patient confidentiality set by the American Medical Association and the Health on the Net Foundation.
	<br><br>
	We will not release any personally identifying information to anyone unless mandated by federal or state laws. Aggregate statistical summaries may be released to third parties, but these statistics will contain no personally identifiable information.
	<br><br>
	Here's how we protect your information:
	<br>
    <ul>* When you enter your information into the physician consult form, you are connected to a secure server. We utilize Secure Socket Layer (SSL) communication protocol to secure the information you have entered as it is sent over the Internet. This is accomplished by encrypting (coding) the data before it is sent, and then decrypting (decoding) the data once it is received at our site.</ul>
    <ul>* You know you are on a secure page when a little closed padlock or unbroken key appears on the bottom of your browser's window.</ul>
	<br><br>
	</td>
	</tr>
	</table>
	</div><!-- End content -->

	</div><!-- End pagebase -->

</div><!-- End container -->