<div id="container">

	<div id="slider03">
	&nbsp;
	</div><!-- End slider -->

	<div id="pagebase">
	
	<div id="content">
	<table border=0 cellpadding=0 cellspacing=0 width="900" align="center">
	<tr>
	<td valign="top" align="left">
	<h1>What We Do</h1>
	<br><br>
Virtual Medical Group delivers quality healthcare through innovative services. Using secure, web-based technologies such as videoconferencing, telephony, live chat, and messaging, our physicians provide advice and treatment for a variety of healthcare conditions.  Our physicians can seamlessly collaborate with other providers for the benefit of the patient.
<br><br>  
All of our services are provided through the Internet in a secure and confidential manner. Communication is established between the patient and a Virtual Medical Group provider instantly or via scheduled appointments during a one-on-one interaction. Since the physician can see and/or hear the patient, care rivals traditional care but is more affordable, accessible, and convenient for both the physician and the patient. By building a trusting relationship, Virtual Medical Group can effectively provide a direct benefit to each and every patient.
	<br><br>
	</td>
	</tr>
	</table>
	</div><!-- End content -->

	</div><!-- End pagebase -->

	</div><!-- End container -->