<div id="container">

	<div id="slider02">
	&nbsp;
	</div><!-- End slider -->

	<div id="pagebase">
	
	<div id="content">
	<table border=0 cellpadding=0 cellspacing=0 width="900" align="center">
	<tr>
	<td valign="top" align="left">
	<h1>Who We Are</h1>
	<br><br>
Virtual Medical Group is a company composed of experienced, board certified physicians who connect with patients via videoconferencing, telephony, and live chat.  VMG physicians consult with patients via the telephone or videoconference depending on state law and can write prescriptions when appropriate.  Physicians can only consult with patients for the States in which they are licensed.
<br><br> 
VMG physicians focus on the most <a href="#">common primary care conditions</a>.  For mental health conditions, we believe the best treatment method is a combination of therapy and medication and VMG physicians serve as a referral source from a counselor when a patient has been in counseling.
<br><br>
Each provider must pass a thorough credentialing process prior to joining VMG. VMG physicians provide their licensing information, their resume, and malpractice information.  The credentialing committee reviews each resume and there is a strong preference for physicians who have completed 5 years post-residency.  
	<br><br>
	</td>
	</tr>
	</table>
	</div><!-- End content -->

	</div><!-- End pagebase -->

	</div><!-- End container -->