<%= render :partial => "patients/header" %>
<div id="container"> 
	<h1>Edit Patient Profile</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @patient %> |
	<%= link_to 'Back', patients_path %>
</div>