<%= form_tag ("/patients/#{@patient.id}/feedback_response") do |f| %>


	<div class="header"> Send Your Feedback</div>
  <div id="notice"></div>	
  <div style="color:green;text-align: center;font-size:14px;"> (If you have any suggestions or any difficulties during using our service, please inform us!)</div>
   <div style="clear:both;height:30px;"></div>
  <div style="widh:600px;padding-left:210px;">
	  <div style="float:left;width:100px;text-align: center;padding-top: 45px;">
	    <label style="font-size:14px;">Your Feedback </label>
	  </div>
	  <div style="float:left;width:500;padding-left:30px;">  
	    <%= text_area_tag :feedback, nil, :size => '60x6' %>
	  </div>
  
    <div style="clear:both;height:10px;"></div>
 		<div style="padding-left:130px;"> 
 			<span style='float:left;'><%= submit_tag "submit" %></span>
 			<span style='margin-left: 5px;float:left;'>
  		  <%= link_to image_tag("cancel.png"), patient_path() %>
  		</span> 
  	</div>
	</div> 	

<% end %>