<html>
<head>
<title>VIRTUAL MEDICAL GROUP | Our offices are virtual, our physicians aren't | www.virtualmedicalgroup.com</title>
<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<meta name="description" content="Medical Web">
<meta name="keywords" content="Medical Web">
<meta name="abstract" content="Medical Web">
<meta name="rating" content="General">
<meta name="MS.LOCALE" content="EN-US">
<meta name="robots" content="all, index, follow">
<meta name="googlebot" content="all, index, follow">
<meta name="pagerank™" content="10">
<meta name="revisit-after" content="2 days">

</head>

<body>

	<div id="container">	
	<div id="slider">
	&nbsp;
	</div><!-- End slider -->

	<div id="pagebase">
	
	<div id="content" style="padding-bottom: 50px;">
	<table border=0 cellpadding=0 cellspacing=0 width="900" align="center">
	<tr>
	<td valign="top" align="left">
	<h1>Welcome to Virtual Medical Group</h1>
	<br><br>
Virtual Medical Group (VMG) is committed to helping patients take control of their health. Only our office is virtual -- our physicians and their dedication are real. 
<br><br>
Since 1998, VMG’s focus has been to easily and seamlessly connect patients with board-certified physicians for treatment for minor, non-emergent care.   In 2005, we expanded our network to include psychiatrists and we partner with over 250 mental health counselors to provide the complete spectrum of mental health treatment.
<br><br>  
According to the American Medical Association, as many as 70% of all doctor visits are for information only or address issues that can be handled over the phone. Today, consumers expect interactive technology to play a major role in their healthcare – "even substituting for face-to-face visits."<sup><a href="http://www.sciencedaily.com/releases/2009/05/090518101919.htm">1</a></sup> VMG partnered with Medical Web so that physicians can seamlessly and conveniently connect with patients using secure videoconferencing, telephone, and live chat.
<br><br>
Office visits for privately insured patients under 65 have fallen 17% in the last two years primarily because of benefit design, higher deductibles, copays and coinsurance.<sup><a href="cite.html">2</a></sup> VMG addresses the problem by bringing the care to the patient.  Join us.  Learn more about <a href="who.html">our credentialing standards.</a>
<br><br>  
	</td>
	</tr>
	</table>
	</div><!-- End content -->

	</div><!-- End pagebase -->

	</div><!-- End container -->

</body>
</html>
<script type="text/javascript">

	// $(".login").click(function(){
 //  		$(".login_box").toggle();
 //  })
  <% if params[:from_sign_in] == 'true' %>
  		$(".login").trigger('click');
  <% end %>
</script>
