/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#txt {border: 1px solid #f9f9f9;}
.color-grade {
    font-size: x-large;float: left;font-style: italic;margin-left: 90px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #FFFFFF 0%, #00A3EF 100%);
}
