<div id="container">
<p id="notice"><%= notice %></p>

<!--<p>-->
  <!--<strong>Patient:</strong>-->
  <!--<%#= @appointment.patient_id %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Doctor:</strong>-->
  <!--<%#= @appointment.doctor_id %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Kiosk:</strong>-->
  <!--<%#= @appointment.kiosk_id %>-->
<!--</p>-->
  <p>
    <strong>Description:</strong>
    <%= @appointment.description %>
  </p>

<p>
  <strong>Appointment date:</strong>
  <%= date_format(@appointment.appointment_date) %>
</p>

<p>
  <strong>Allotment date:</strong>
  <%= date_format(@appointment.allotment_date) %>
</p>



<%#= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%#= link_to 'Back', appointments_path %>
</div>