	<div id="footer" class="footerlink">
    <a href="<%= $base_url %>">HOME</a> &nbsp;  &nbsp;  &nbsp; <a href="/privacy">PRIVACY POLICY</a> &nbsp;  &nbsp;  &nbsp; <a href="/contact">CONTACT</a>
    <br><br>
    Virtual Medical Home - Medical Web, Inc. | Unit-206,Sodel Software Solutions Pvt. Ltd. | Mahape, Navi Mumbai 400710| 8432699880<br>
    (c) 2013 - Virtual Medical Home - All Rights Reserved.
	</div><!-- End footer -->