<div id="top">
	&nbsp;

</div><!-- End top -->

<% if !user_signed_in? %>
  <div id="menu" class="menulink">
		<img src="/assets/blank.gif" height="15" width="1" border="0">
		<br>
		<a href="<%= $base_url %>">HOME</a> &nbsp;  &nbsp;  &nbsp; <a href="/who_we_are">WHO WE ARE</a> &nbsp;  &nbsp;  &nbsp; <a href="/what_we_do">WHAT WE DO</a> &nbsp;  &nbsp;  &nbsp; <a href="/conditions">CONDITIONS WE TREAT</a> &nbsp;  &nbsp;  &nbsp; <a href="/contact">CONTACT US</a> &nbsp;  &nbsp;  &nbsp; <span class="login"><a href="javascript:void(0)">LOGIN</a></span>	 
  </div><!-- End menu -->
<% end %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "flash_notice" if user_signed_in? %>
<% end %>
